<div class="container-login">
  <div class="sub-container-login">
    <div class="root-container">
      <img [src]="imageUrl" alt="Login Image" class="login-image"/>

      <form [formGroup]="applyForm" (submit)="onSubmit()"  class="login-form">
        <app-custom-input label="Email" type="email"  [name]="'email'" [formControlName]="'email'"  />
        <app-custom-input label="Password" type="password"  [name]="'password'" [formControlName]="'password'" ></app-custom-input>
        <app-custom-button [label]="'Login'" [type]="'button'" (click)="onSubmit()"  /> 
      </form>
    </div>
  </div>
</div>